[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DivE"]
	path = DivE
	url = https://github.com/cran/DivE
	shallow = true
	registered = true
